:root {
    --primary-color: #0288d1;
    --secondary-color: #03a9f4;
    --background-color: #bed7dc;
    --text-color: #333;
    --card-bg-color: #ffffff;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}


/* Navbar styles */
.navbar {
    background: linear-gradient(135deg, #2c3e50, #34495e);
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px var(--shadow-color);
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 50px;
    padding: 5px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    position: relative;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar a:hover::after {
    transform: scaleX(1);
}
