<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="inspector_login.css">

      <title>Animated login form - Bedimcode</title>
   </head>
   <body>
      
      <div class="login">
         <img src="login_bg4.jpg" alt="login image" class="login__img">

         <form action="" class="login__form">
            <h1 class="login__title" style="margin-bottom: 40px;">Approval Code</h1>
            

            <div class="login__content">
               <div class="login__box">
                <i class="ri-lock-2-line login__icon"></i>


                  <div class="login__box-input">
                     <input type="text" required class="login__input" id="login-email" placeholder=" ">
                     <label for="login-email" class="login__label" >AICTE Login ID</label>
                  </div>
               </div>

              
        
            <a href="report3.html" class="option-btn login__button" style="margin-top: 30px;margin-bottom: 20px;color: white;">View Report</a>

            
         </form>
      </div>
      
      <!--=============== MAIN JS ===============-->
      <script src="assets/js/main.js"></script>
   </body>
</html>